/* Style général */
body {
    background-color: #C56752;
}

body img {
    width: 10%;
}

.container {
    background-color: #FFFF;
    width: 50%;
    border-radius: 10px;
    margin: 5% auto;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 80%;
}

h2 {
    text-align: center;
    color: #000000;
}

/* Style des champs de formulaire */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-bottom: 2px solid #C56752;
}

/* Style du bouton */
.btn-primary {
    background-color: #C56752;
    border: none;
}

.btn-primary:hover {
    background: #C56752;
}

#btn-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#btn-index img {
    width: 20%;
}

a.btn-index {
    background-color: #5BB4A9;
    border: none;
    margin: 15px auto 15px auto;
    width: 20%;
    padding: 20px 5px;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

a.btn-index:hover {
    background-color: #36968a;
    transition: all 0.2s ease-in;
}

/* Style des étiquettes */
label {
    font-weight: bold;
}

/* Style de la zone de texte (remarques) */
textarea.form-control {
    resize: none; /* Empêche le redimensionnement de la zone de texte */
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}

section #gauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-height: 100%;
    background-color: #5BB4A9;
    padding: 1%;
}

section #gauche img{
    width: 100%;
}

section #gauche .head-gauche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section #gauche .nav-link {
    color: black;
    font-weight: 600;
    font-size: 17px;
}

section #droite {
    width: 80%;
}